# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate

# macOS
.DS_Store
*.swp
*~

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
